dogs.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Dog">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Dog1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Details">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Breed"/>
                    <xs:element type="xs:string" name="color"/>
                    <xs:element type="xs:string" name="country"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="Type"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Dog2">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Details">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Breed"/>
                    <xs:element type="xs:string" name="color"/>
                    <xs:element type="xs:string" name="country"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="Type"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Dog3">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Details">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Breed"/>
                    <xs:element type="xs:string" name="color"/>
                    <xs:element type="xs:string" name="country"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="Type"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Dog4">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Details">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Breed"/>
                    <xs:element type="xs:string" name="color"/>
                    <xs:element type="xs:string" name="country"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="Type"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="category"/>
    </xs:complexType>
  </xs:element>
</xs:schema>